*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
!_data/example_images/frame1.png
!_data/example_images/frame3.png

__pycache__

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.ckpt
*.pt
*.pth
!metrics/flolpips/weights/v0.1/alex.pth

*.ipynb


